Body{
  font-family: sans-serif;
  margin:0px;
  bod

}
.wrapper {
  margin-left: 5%;
  margin-right:5%;
}

nav {
  display:flex;
  border-bottom: solid 0.2px rgb(129, 129, 129);
  /* background-color:rgb(241, 241, 241); */
  justify-content:space-between;

  margin:0px 0px 10px 0px;
  /* Shadow here-------------------------------------------------------- */
	-webkit-box-shadow: 0 8px 4px -8px #7d7d7d;
	   -moz-box-shadow: 0 8px 4px -8px #7d7d7d;
	        box-shadow: 0 8px 4px -8px #7d7d7d;

}

.nav-item {
  display:flex;
  /* background-color: blanchedalmond; */
  Height:80px; */
  width:20%;
  align-items:flex-start;
  justify-content: center;
  margin-top: 15px;
}

.logo-container {
  width:0%;
  height:auto;

}

.fa-bars,
.fa-search {
  font-size:30px;
  margin:0px 15px 0px 15px;
  color:rgb(70, 70, 70);
}



.logo-area {
  background-color:rgb(189, 252, 248);
  Width:100%;
  Height:300px;
  margin:auto;

}

.logo {
 width:140px;

  position: relative;

}

h3 {
  font-size:4vh;


}

.feature-area {

  display:flex;
  padding-top:40px;
  justify-content: space-between;




}

.card {
  display:flex;
  width:32%;
  height:200px;
  background-color: bisque;
  justify-content: center;
  align-items: center;



  }


  .button {
    Padding:15px;
    margin:5% 0% 5% 0%;
    background-color:rgb(233, 225, 108);
    text-align: center;

  }
